@import "~bootstrap/dist/css/bootstrap.min.css";

.card-black-top {
  color: black;
  font-size: large;
  font-size: 70px;
  padding-left: 15px;
}

.card-black-bottom {
  color: black;
  font-size: 70px;
  padding-right: 15px;
  transform: rotateX(180deg);
}

.card-red-top {
  color: red;
  font-size: 70px;
  padding-left: 15px;
}

.card-red-bottom {
  color: red;
  font-size: 70px;
  padding-right: 15px;
  transform: rotateX(180deg);
}

.number {
  font-size: 7rem;
}
